<!DOCTYPE html>
<html lang="ja">
<head>
  <%# includeのパスは相対で指定する %> 
  <%- include("_share/metadata.ejs") %> 
  <%- include("_share/stylesheets.ejs") %> 
  <link rel="stylesheet" href="/public/stylesheets/index.css">
  <title>Document</title>
</head>
<body>
  <div class="outerframe">
    <%- include("_share/navbar.ejs") %> 
    <h1>こんにちは、世界!</h1>
    <i class="fas fa-fw fa-utensils"></i>
    <i class="fas fa-fw fa-search"></i>
    <%- include("_share/footer.ejs") %> 
  </div>
  <%- include("_share/javascripts.ejs") %> 
</body>
</html>