<!DOCTYPE html>
<html lang="ja">
<head>
  <%# includeのパスは相対で指定する %> 
  <%- include("../_share/metadata.ejs") %> 
  <%- include("../_share/stylesheets.ejs") %> 
  <link rel="stylesheet" href="/public/stylesheets/shop.css">
  <title>Document</title>
</head>
<body>
  <div class="outerframe">
    <%- include("../_share/navbar.ejs") %>
    <main class="container">
      <%# タイトル欄 %> 
      <div class="border-bottom my-5">
        <h1 class="display-4"><%= name %></h1>
      </div>
      <%# 評価欄 %>
      <p class="h3">
        <%# 星 %> 
        <span class="rate-star" style="rate: <%=(score/5)*100 %>%;"></span>
        <%# 評価値 %> 
        <span><%= padding(score) %> </span>
      </p>

      <%# 画像 %> 
      <div>
        <img class="image-fluid" src="/public/images/dummy/1150x250.png">
      </div>

      <div class="row">
        <%# 8/12列を使用 %> 
        <div class="col-md-8">
          <%# 本のアイコン %> 
          <h2 class="border-bottom mt-5 mb-2"><i class="fas fa-fw fa-book"></i>店舗情報</h2>
          <table class="table table-bordered">
            <tr>
              <th></th>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
          </table>
        </div>
        <%# 4/12列を使用 %> 
        <div class="col-md-4">

        </div>
      </div>
    </main>
    <%- include("../_share/footer.ejs") %> 
  </div>
  <%- include("../_share/javascripts.ejs") %>
</body>
</html>